@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: "Roboto";
    
}

:root{
    --cor-background: rgb(26, 23, 23);
    --cor-texto: white;
    --cor-detalhe: rgb(255, 0, 0);
}

body{
    background-color: var(--cor-background);
    color: var(--cor-texto);
    box-sizing: border-box;
    position: absolute;
}

/* MAIN APRESENTAÇÃO */
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10%;

    & .apresentacao_conteudo{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        & .texto_destaque{
        color: var(--cor-detalhe);
        }
    }
    & h1{
        text-align: left;
    }
    & .apresentacao_perfil{
        flex-direction: column;
        text-align: center;
        & .imagem_perfil{
            width: 60%;
            border-radius: 15px;
            border: 2px solid var(--cor-detalhe);
            padding: 3px;
        }
    }
}
/* SOBRE MIM */
.titulo_geral{           
    font-size: 2.8rem; 
    text-align: center;           
}
.titulo_sobre_mim{
    font-size: 2.8rem; 
    text-align: center;
    margin: 3rem 0;     
}

.flex_bloco_conteudo{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 5% 14%;
    gap: 32px;
}
.texto_estilo{
    font-size: 1.9rem;
    text-indent: 25px;
    text-align: left;
}
.imagens{
    width: 30%;
    border-radius: 15px;
    border: 2px solid var(--cor-detalhe);
    padding: 3px;
}

@media (max-width: 1280px) {
    .apresentacao{
        flex-direction: column;
        gap: 64px;
        & h1{
            text-align: center;
        }
        & .apresentacao_conteudo{
            width: 80%;
        }
    }

    .flex_bloco_conteudo{
        flex-direction: column;
        gap: 64px;
    }
    .flex_reverse{
        flex-direction: column-reverse;
    }

    .titulo_geral{
        font-size: 2rem;
    }

    .titulo_sobre_mim{
        font-size: 2rem; 
        text-align: center;
        margin: 3rem 0;     
    }

    .texto_estilo{
        font-size: 1.8rem;
        text-indent: 0px;
    }

    .imagens{
        width: 50%;
    }
}

@media (max-width: 480px){
    .titulo_geral{
        font-size: 1.4rem;
    }
    .titulo_sobre_mim{
        font-size: 1.4rem; 
        text-align: center;
        margin: 3rem 0;     
    }

    .texto_estilo{
        text-align: center;
        font-size: 1rem;
        text-align: left;
        text-indent: 10px;
    }
}